.footer{
    h5{
        font-size: 1.375rem;
    }
    p{font-size: 1.125rem;}
    a{font-size: 1.125rem;}
}

.fondo-footer {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding-top: 1.25rem;
    padding-left: .625rem;
    background-color:rgb(249, 228, 200) ;
}