.texto-quienessomos {
    margin-top: 1.25rem;
    h1{
        text-align: center;
        font-size: 2.875rem;
        $FuenteTitulo: "Inter", sans-serif;
    }
    p{
        font-size: 1.875rem;
        font-family: $fuenteParrafo;
        text-align: center;
    }
}

.section-quienes{
    p{font-size: 1.25rem;
        font-family: $fuenteParrafo;}
.titulo-uno{
font-size: 2.125rem;
$FuenteTitulo: "Inter", sans-serif;
}

.titulo-dos{
font-size: 1.875rem;
$FuenteTitulo: "Inter", sans-serif;
}
}

.servicio-entregas img {
    width: 900px;
    height: 600px;
    padding: 30px;
    object-fit: cover;
}





.servicios {
    width: 56.25rem;
    padding: 1.875rem;
    h3{
        font-size: 1.75rem;
        $FuenteTitulo: "Inter", sans-serif;
    }
    h4{ font-size: 1.25rem ;
        $FuenteTitulo: "Inter", sans-serif;}
    p{ font-size: 1rem;
        font-family: $fuenteParrafo;}
    .list-servicios{
        width: 15.625rem;
        border: black 5px solid;
        a{font-size: 1.5rem;
            font-family: $fuenteParrafo;}
    }
}

.flex-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($coLores, color1);
    .container-servicios{
        display: flex;
        width: 100%;
        height: 12.5rem;
        flex-direction:row;
        justify-content:space-evenly;
        align-items: center;
        }
        .container-text2{
            width: 280px;
            height: 6.25rem;
            text-align: center;
            padding: 1.25rem;
        }
        img{
            width: 4.375rem;
            height: 4.375rem;
        }
        p{
            font-family: $fuenteParrafo;
            font-size: 1.125rem;
        }
    
}


.text-servicios h2{
    background-color:map-get($coLores, color4 );
    text-align: center;
    $FuenteTitulo: "Inter", sans-serif;

}

.fondo-nosotros{
    background-color:map-get($coLores, color6 );
}