.colores{
    color: rgb(219, 208, 192);
    color: rgb(250, 238, 224);
    color: rgb(249, 228, 200);
    color: rgb(244, 209, 155);}


$coLores: (
color1: rgb(219, 208, 192),
color2: rgb(250, 238, 224),
color3: rgb(249, 228, 200),
color4: white,
color5: black,
);