.container-card{
    width: 16.875rem;
    height: 23.75rem;
    border-radius: .3125rem;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.436);
    position:relative;
    background-color: map-get($coLores, color6 );}